body {
  background-color: #f1f1cd;
  margin: 0;
}
/*CARRUSEL*/
.carousel {
  width: 100%;
  margin-top: 16px;
}

.carousel img {
  height: 600px;
  object-fit: cover;
}


.featured-container{
  margin-top: 2rem;
  margin-left: 13rem;
  margin-right: 13rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about-container {
  margin-top: 2rem;
  margin-left: 13rem;
  margin-right: 13rem;
  margin-bottom: 2rem;
  text-align: center;
}

.home-product-card {
  width: 14rem;
  height: 20rem;
}

.home-product-card .card-img-top {
  height: 11rem;
  object-fit: contain;
  width: 100%;
  padding: 12px;
}

.home-product-card .card-body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.home-product-card .card-title {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.home-product-card .card-text {
  font-weight: bold;
  color: #198754;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.home-product-card .btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}